.drawerContent {
    position: relative;

    .MuiButtonBase-root {
        text-transform: unset;
    }

    .btnContainer {
        .btn {
            width: 100%;
        }
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contentConatainer {
        flex-grow: 1;
        padding: 10px;
        overflow-y: auto;
        height: calc(100% - 22%);
    }

    .businessInfo {

        .itemContainer {
            li {
                background: #e5e5e5;
                padding: 10px;
            }

            .itemTextContainer {
                border-radius: 30px;
                border: 1px solid #ccc;
                background: #FFF;
                padding: 20px;
                width: 100%;
            }
        }

        .ml-2 {
            margin-left: 20px;
        }
    }

    .cancelBtn {
        border: 1px solid gray;
        background: rgb(250, 249, 249);
        color: #000;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .nextBtn {
        border: 1px solid gray;
        background: #000;
        color: #FFF;
        &:hover {
            background: #000;
        }
    }
}