.drawerContent {
    position: relative;
    .MuiFormLabel-root, .MuiTypography-root {
        font-size: 14px;
    }

    .MuiButtonBase-root {
        text-transform: unset;
    }

    .btnContainer {
        .btn {
            width: 100%;
        }
    }

    .mui-basic-table-container {
        overflow: auto;
        height: 500px; 
    }

    .titleContainer {
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 16px;
        background-color: #03182b;
        display: flex;
        align-items: center;
        height: 80px;
        width: 100%;
        justify-content: space-between;
        color: white;
    }

    .contentContainer {
        flex-grow: 1;
        padding: 10px 20px;
        overflow-y: auto;
        height: calc(100% - 20%);
    }

    .businessInfo {
        div {
            font-size: 0.875rem;
        }
        .itemContainer {
            li {
                background: #e5e5e5;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #ccc;

                .prl-30 {
                    padding: 0px 10px 0px 0px !important;
                }
            }

            .itemTextContainer {
                border-radius: 10px;
                border: 1px solid #ccc;
                background: #FFF;
                padding: 10px;
                width: 100%;
            }
        }

        .ml-2 {
            margin-left: 20px;
        }
    }

    .cancelBtn {
        border: 1px solid gray;
        background: rgb(250, 249, 249);
        color: #000;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .nextBtn {
        border: 1px solid gray;
        background: #000;
        color: #FFF;
        &:hover {
            background: #000;
        }
    }

    .confirmTable {
        th {
            font-size: 0.875rem;
            font-weight: 700;
        }
    }

    .certificateTxt {
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    }

    .walletHeader {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
    }

    .title-font {
        font-size: 0.875rem;
    }

    .modal-footer {
        width: 480px;
    }
}