@use '../../../public/sass/helpers/breakpoints';

.landingPageContainer {
    border: 1px solid rgb(167, 167, 167);
    padding: 20px;

    .cardContainer {
        background-color: rgb(244 244 244);
        border: 1px solid rgb(173, 173, 173);
        padding: 20px;

        // min-height: 300px;

        .logo {
            width: 50%;
            height: auto;
        }

        .card-header {
            height: 40px;
        }

        .card-body {
            overflow: hidden;
            height: 11em;
        }


        .MuiCardContent-root {
            padding: 0;

            .MuiTypography-root {
                padding: 15px 0;

                .readmore {
                    color: #9c9c9c;
                }
            }

        }

        .actionBtn {
            .MuiButtonBase-root {
                width: 100%;
                text-transform: unset;
                border: 1.5px solid black;
                background: rgb(230 230 230);
                color: #000;
                margin-top: 8px;
            }
        }
    }
}

.dataListContainer {
    padding: 20px;
    .leftSection {
        background: rgb(230 230 230);
        height: 80vh;
    }
    .policyUrl {
        padding: 10px 0;
        cursor: pointer;
        text-decoration: underline;
        color: #1793ca;
        font-size: 0.875rem;
    }
    .rightContainer {
        height: 84vh;
        overflow: scroll;
        margin-top: 24px;
        padding-top: 0 !important;
    }
    .cardContainerList {
        border: 1px solid #000;
        padding: 20px;
        margin-bottom: 15px;
    
        .logo {
            width: 50%;
            height: auto;
            margin-left: -8px;
        }
    
        .actionListingBtn {
            .MuiButtonBase-root {
                text-transform: unset;
                border: 1.5px solid black;
                background: rgb(230 230 230);
                color: #000;
                margin-top: 80px;
                margin-left: 20px;
                padding: 5px 30px;
            }
        }
    
        .card-body {
            overflow: hidden;
            height: 11em;
        }
    
    
        .MuiCardContent-root {
            padding: 0 !important;
        }
    }
}



.homeContainer {
    padding: 0 25px 25px 25px;
}

@include breakpoints.tabletAndDown {
    .homeContainer {
        padding: 0 10px !important;
    }
}

.breadCrumbContainer {
    border: 1px solid rgb(167, 167, 167);
    padding: 15px;
    // margin-bottom: 5px;

    .MuiTypography-root {
        // margin-bottom: 0;
    }
}

.dataSourceSelectionContainer {
    padding: 5px 0;

    .title {
        color: #716f6f;
        font-size: 1.25rem;
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.footerContainer {
    margin-top: 60px;
    padding: 0.5rem;

    span {
        font-size: 0.85rem;
        color: grey;
    }

    a {
        color: grey !important;
    }
}