@use '../../../public/sass/helpers/breakpoints';

.landingPageContainer {
    border: 1px solid rgb(167, 167, 167);
    padding: 20px;

    .cardContainer {
        background-color: rgb(244 244 244);
        border: 1px solid rgb(173, 173, 173);
        padding: 20px;

        // min-height: 300px;

        .logo {
            width: 50%;
            height: auto;
        }

        .card-header {
            height: 40px;
        }

        .card-body {
            overflow: hidden;
            height: 11em;
        }


        .MuiCardContent-root {
            padding: 0;

            .MuiTypography-root {
                padding: 15px 0;

                .readmore {
                    color: #9c9c9c;
                }
            }

        }

        .actionBtn {
            .MuiButtonBase-root {
                width: 100%;
                text-transform: unset;
                border: 1.5px solid black;
                background: rgb(230 230 230);
                color: #000;
                margin-top: 8px;
            }
        }
    }
}

.homeContainer {
    padding: 0 25px 25px 25px;
}

@include breakpoints.tabletAndDown {
    .homeContainer {
        padding: 0 10px !important;
    }
}

.breadCrumbContainer {
    border: 1px solid rgb(167, 167, 167);
    padding: 15px;
    // margin-bottom: 5px;

    .MuiTypography-root {
        // margin-bottom: 0;
    }
}

.dataSourceSelectionContainer {
    padding: 5px 0;

    .title {
        color: #716f6f;
        font-size: 1.25rem;
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.footerContainer {
    margin-top: 60px;
    padding: 1.563rem;

    span {
        font-size: 0.85rem;
        color: grey;
    }

    a {
        color: grey !important;
    }
}