.appBarContainer {
    .logoImg {
        width: 52px;
        border-radius: 50%;
    }
}

.MuiDrawer-docked, .MuiDrawer-paperAnchorLeft {
    margin-top: 100px;
}

.pointerNone {
    pointer-events: none;
}