.appBarContainer {
    .logoImg {
        width: 58px;
        border-radius: 50%;
        margin: 0px 10px;
    }
    .MuiPaper-root {
        box-shadow: none;
    }
}

.MuiDrawer-docked, .MuiDrawer-paperAnchorLeft {
    margin-top: 80px;
    padding-top: 20px;
}

.pointerNone {
    pointer-events: none;
}