@use "@/assets/sass/helpers/breakpoints";

.appBarContainer {
    .MuiAppBar-root {
        z-index: 1300 !important; // Higher than sidebar's 1200
    }
    
    .logoImg {
        width: 58px;
        border-radius: 50%;
        margin: 0px 10px;

        @include breakpoints.mobileOnly {
            display: none;
        }
    }

    .MuiPaper-root {
        box-shadow: none;
    }

    .headerText,
    .subHeaderText {
        color: white;
    }

    .navHeaderTextLink {
        text-decoration: none;
    }

    .loginBtn {
        margin-left: auto;
        width: 8rem;
        background: white;
        color: black;
        border-radius: 0;

        &:hover {
            background: black;
            color: white;
        }

        @include breakpoints.tabletAndDown {
            width: 5rem;
        }
    }
}

.pointerNone {
    pointer-events: none;
}