.drawerContainer {
    .MuiDrawer-paper {
        overflow: hidden;
    }
}

.drawerContent {
    max-width: 480px;
    height: 100%;

    .businessInfo {
        padding: 10px 0;
    }

    .walletContainer {
        padding-top: 20px;

        .walletInfo {
            margin-top: 20px;
            background-color: rgb(247 247 247);
            border: 1px solid rgb(173, 173, 173);
            padding: 35px;
        }

        .businessJustifiation {
            padding: 15px 0;
        }
    }

    .MuiGrid-container .MuiGrid-item {
        padding-left: 0;
    }
}