/* Add styles for card content to fill height and position button at bottom */
.MuiCardContent-root {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.actionBtn {
  margin-top: auto !important;
  padding-top: 20px !important;
}
