@use '../../../public/sass/helpers/breakpoints';

.loginContainer {
    display: flex;
    min-height: 90dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
}

.d-flex-center {
    display: flex;
    justify-content: center;

}

.logoImg {
    width: 180px;
    border-radius: 50%;
}

.text-field {
    box-sizing: border-box;
    padding: 0.3rem;
    border: 1px solid #cecece;
    border-radius: 0.45rem;
    width: 400px;
}

@include breakpoints.tabletAndDown {
    .text-field {
        width: 350px !important;
    }
    .titleTxt {
        font-size: 1.1em !important;
    }
}
