.description {
    word-wrap: break-word;
    font-size: 14px !important;
}

.apiKey {
    margin-top: 10px;
    border: 1px solid #CECECE;
    padding: 15px 30px;
    background-color: #FFFFFF;
    color: #000000;
    height: "auto";
    width: "100%";
}

.actionBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.manageAdmin-txt {
    width: 100% !important;
    font-size: 0.875rem !important;
    margin-right: 0 !important;
}

@media (min-width: 600px) {
    .manageAdmin-txt {
        width: 50% !important;
        margin-right: 20px !important;
    }
}

.manageAdmin-container {
    .css-1eed5fa-MuiInputBase-root-MuiInput-root {
        font-size: 0.875rem !important;
    }
}

.searchField {
    width: 450px !important;

    .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
        border-radius: 100px !important;
    }
}

.manageAdmin-container {
    .css-jcincl {
        font-size: 0.875rem !important;
    }
}

.delete-icon {
    cursor: pointer;
    color: #888;

    &:hover {
        color: #f44336
    }
}

.delete-btn {
    height: 30px !important;
    border-radius: 0 !important;
    border: 1px solid #DFDFDF !important;
    color: black !important;

    &:hover {
        background: black !important;
        color: white !important;
        border-color: black !important;
    }

}