
.Tablecell-Styles {
    z-index: 1 !important;
    border-bottom: 1px solid rgba(232, 235, 238, 1);
}
.basic-table {
    background-color: white !important;
    border-bottom: 1px solid red;
}

.mui-basic-table {
    background-color: transparent;
    border-collapse: collapse;

    .MuiTableRow-root .MuiTableCell-root {
        border: 1px solid #d7d6d6;
    }
}

.setWidth {
    display: inline-table !important;
    width: 100%;
}

.MuiTableCell-head {
    font-weight: bold;
    background-color: rgb(229, 228, 228);
    border: 1px solid rgb(215, 214, 214);
    font-size: 14px;
}

th {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-weight: bold !important;
}

td {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px 
}

