
body {
    margin: 0;
    background-color: #FFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-untitled-sans);
}

.Mui-disabled {
    cursor: auto;
}

.d-flex-evenly {
    display: flex;
    justify-content: space-evenly;

}

.d-flex-between {
    display: flex;
    justify-content: space-between;

}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
}

input:focus, input:active, input:visited {
    border-color: black !important;
}   