body {
    margin: 0;
    background-color: #FFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .custom-version-column {
    width: 120px;
  }

  .mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.ml-1 {
    margin-left: 5px !important;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.pr-2 {
    padding-right: 2px;
}

.pl-2 {
    padding-left: 2px;
}

.prl-30 {
    padding: 0 30px !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.MuiRadio-root.Mui-checked {
    color: #000 !important;
}

.MuiTypography-root {
    font-size: 0.875rem;
}

.mui-basic-table-container {
    width: 100%;
    /* overflow: auto; */
    border-radius: 0 !important;
    box-shadow: none !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: rgb(134 134 134 / 24%) !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: rgb(198 198 198) !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
    background-color: rgb(255 255 255 / 4%) !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 2px solid #000 !important;
}

.cursorNotAllowed {
    cursor: not-allowed;
}