.loader {   
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.btn-loader {
    width: 25px;
}

.spinner {
    width: 50px;
}
